.env
.env.example
node_modules/
dist/
logs/
coverage/
*.log
*.tsbuildinfo
.DS_Store
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
# Optional: Ignore build artifacts  